:root {
  --mainDark: #343a40;
  --mainGrey: rgba(109, 109, 109);
  --mainLightGrey: rgba(172, 172, 172);
  --mainWhite: #fff;
  --mainBlue: #007bff;
}

.heading {
  font-weight: 700;
}
.subheading {
  font-weight: 300;
}

.inputEmail {
  color: white;
  text-shadow: black;
}

.inputstl {
  padding: 9px;
  border: solid 1px #b3ffb3;
  outline: 0;
  background: -webkit-gradient(
    linear,
    left top,
    left 25,
    from(#ffffff),
    color-stop(4%, #a4ffa4),
    to(#ffffff)
  );
  background: -moz-linear-gradient(top, #ffffff, #a4ffa4 1px, #ffffff 25px);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -moz-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 8px;
}

.wrapper {
  min-height: calc(100vh - 170px);
}
